version: '3.8'
services:
  elasticsearch:
    image: elasticsearch:8.14.1
    container_name: elasticsearch
    environment:
      - "discovery.type=single-node"
      - "xpack.security.enabled=false"
    volumes:
      - es_data:/usr/share/elasticsearch/data

  init:
    build: .
    depends_on:
      - elasticsearch
    volumes:
      - .:/app
    command: python init.py

  app:
    build: .
    container_name: app
    ports:
      - "127.0.0.1:5000:5000"
    volumes:
      - .:/app
    depends_on:
      - elasticsearch
      - init

volumes:
  es_data: